<!--
# Alaska Data Integration working group - ADIwg

# REST endpoint controller for description of api

# History:
# 	Stan Smith 2014-10-09 initial
#   Stan Smith 2014-11-10 fixed problem with validation='strict'
-->

<h2 id="mainHeader">
	<%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
	<span>API</span>
	<span class="version">Test V1</span>
</h2>

<div id="form_container">
	<%= form_tag("translator", id: "submitJSON") do %>
		<div class="form_description">
			<h2>Submit JSON</h2>
			<p>
				Paste or type JSON, choose options, and click Submit. Valid ISO 19139 XML should be generated. For more info visit the
				<a href="http://www.adiwg.org/mdTranslator">mdTranslator website</a>.
			</p>
		</div>
		<ul>
			<li id="li_2">
				<label class="description" for="element_2">Reader</label>
				<div>
					<select class="element select medium" id="element_2" name="reader">
						<option value="mdJson" selected="selected">mdJson</option>
						<option value="sbJson">sbJson</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select a Reader</small>
				</p>
			</li>

			<li id="li_3">
				<label class="description" for="element_3">Writer</label>
				<div>
					<select class="element select medium" id="element_3" name="writer">
						<option value="iso19115_2" selected="selected">iso19115_2</option>
						<option value="iso19110">iso19110</option>
						<option value="html">HTML</option>
						<option value="mdJson">mdJson</option>
						<option value="sbJson">sbJson</option>
						<option value="">-none-</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select a Writer</small>
				</p>
			</li>

			<li id="li_4">
				<label class="description" for="element_4">Include Empty Tags</label>
				<div>
					<select class="element select medium" id="element_4" name="showAllTags">
						<option value="false" selected="selected">False</option>
						<option value="true">True</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select true or false</small>
				</p>
			</li>

			<li id="li_5">
				<label class="description" for="element_5">Input Validation</label>
				<div>
					<select class="element select medium" id="element_5" name="validate">
						<option value="none">None</option>
						<option value="normal" selected="selected">Normal</option>
						<option value="strict">Strict</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select validation level</small>
				</p>
			</li>

			<li id="li_6">
				<label class="description" for="element_6">Response Format</label>
				<div>
					<select class="element select medium" id="element_6" name="format">
						<option value="auto" selected="selected">Auto</option>
						<option value="plain">Plain</option>
						<option value="json">JSON</option>
						<option value="xml">XML</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select a response format</small>
				</p>
			</li>

			<li id="li_7">
				<label class="description" for="element_7">Callback Name</label>
				<div>
					<input type="text" name="callback"/>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Enter a callback name to receive a JSONp response</small>
				</p>
			</li>

			<li id="li_8">
				<label class="description" for="element_1">JSON</label>
				<div>
					<textarea id="codeTextarea" name="file"><%= @jsonDemo %></textarea>
				</div>
				<p class="guidelines" id="guide_1">
					<small>Put your JSON here</small>
				</p>
			</li>

		</ul>

		<div class="buttons">
			<input type="hidden" name="form_id" value="759352"/>
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit"/>
		</div>
	<% end %>

</div>
