<!--
# Alaska Data Integration working group - ADIwg

# REST endpoint controller for description of api

# History:
# 	Stan Smith 2014-10-09 initial
-->

<h2 id="mainHeader">
	<%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
	<span>API</span>
	<span class="version">Welcome</span>
</h2>

<%
   doc = <<-MARKDOWN

## Welcome to the mdTranslator

The ADIwg mdTranslator (or metadata translator) is an open-source software project for
translation between metadata standards.  The user prepares metadata in one of the
mdTranslator's supported 'reader' formats, POSTs the input to the mdTranslator, and
receives output in one of the mdTranslator's supported 'writer' formats.

## Links

 * Documentation of the mdTranslator's version 1 [API](./api/v1)
 * List of mdTranslator's supported [readers](./api/readers)
 * List of mdTranslator's supported [writers](./api/writers)
 * Hosted [demo](./api/v1/demo) of mdTranslator and options
 * Other Links ...
   - [Home page](http://www.adiwg.org/mdTranslator/) for the mdTranslator project
   - GitHub [repositories](https://github.com/adiwg)  for the mdTranslator project
   - Online interactive [schema viewer](http://www.adiwg.org/mdTools/#viewer-page) for documenting
   the mdJson schema

## Background

The Alaska Data Integration Workgroup (ADIwg) evolved from, and supports the common interests
of the North Slope Science Initiative (NSSI), Alaska Ocean Observing System
Board (AOOS), North Pacific Research Board (NPRB), and the Alaska Climate Change Executive
Roundtable (ACCER) and their member universities, federal and state agencies.  ADIwg's
mission is to address the complex issues of discovery and access of scientific data across
organizations of varying size and technical abilities.

Development of an open-source toolkit for creation of ISO metadata was undertaken by the
U.S. Geological Survey (USGS), Arctic Landscape Conservation Cooperative (ALCC), Alaska
Ocean Observing Systems (AOOS), Nuna Technologies, and the National Climate Change Wildlife
Science Centers (NCCWSC - USGS).  Together these organizations developed the six extensible components of
the ADIwg ISO Metadata Developer's Toolkit:

 * __mdJson__ - a simple JSON format for scientific metadata that fully supports ISO 19115-2, ISO 19110,
 and FGDC metadata standards.
 * __mdTranslator__ - a public hosted web service for translation of mdJson to other metadata
 standards.  The mdTranslator is also available as a Ruby Gem 'adiwg-mdtranslator' or source
 code from the GitHub repository.
 * __mdCodes__ - provides a REST endpoint to deliver managed codelist for required ISO codes plus
 extensions added by ADIwg.
 * __mdTools__ - provides a online documentation of the mdJson schema, mdJson validation support, and
 an interface with the mdTranslator.
 * __mdEditor__ - an online metadata editor for preparation and maintenance of scientific
 metadata in the mdJson format (available fall 2015).
 * __mdBook__ - provides detailed online documentation for implementing and extending mdTranslator in a
 GitBook format (available soon).

MARKDOWN
%>
<%= Kramdown::Document.new(doc).to_html.html_safe %>
