<!--
# Alaska Data Integration working group - ADIwg

# REST endpoint controller for description of api

# History:
# 	Stan Smith 2013-10-09 initial
-->

<h2 id="mainHeader">
	<%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
	<span>API</span>
	<span class="version">Welcome</span>
</h2>

<%
   doc = <<-MARKDOWN

## Welcome to the mdTranslator

The ADIwg mdTranslator (or metadata translator) is an open-source software project for
translation between metadata standards.  The user prepares metadata in one of the
mdTranslator's supported 'reader' formats, POSTs the input to the mdTranslator, and
receives output in one of the mdTranslator's support 'writer' formats.

## Links

 * List of mdTranslator's supported [readers](./api/readers)
 * List of mdTranslator's supported [writers](./api/writers)
 * Documentation of the mdTranslator's version 1 [API](./api/v1)
 * [Home page](http://www.adiwg.org/mdTranslator/) for the mdTranslator project
 * GitHub [repositories](https://github.com/adiwg)  for the mdTranslator project

## Background

The Alaska Data Integration Workgroup (ADIwg) evolved from, and supports the common interests
of the North Slope Science Initiative (NSSI), Alaska Ocean Observing System
Board (AOOS), North Pacific Research Board (NPRB), and the Alaska Climate Change Executive
Roundtable (ACCER) and their member universities, federal and state agencies.  ADIwg's
mission is to address the complex issues of discovery and access of scientific data across
organizations of varying size and technical abilities.

Development of an open-source toolkit for creation of ISO metadata was undertaken by the
U.S. Geological Survey (USGS), Arctic Landscape Conservation Cooperative (ALCC), Alaska
Ocean Observing Systems (AOOS), Nuna Technologies, and the National Climate Change Wildlife
Science Centers (NCCWSC - USGS).  These organizations developed an extensible metadata toolkit
in three parts:

 * __adiwgJson__ - a simple JSON format for scientific metadata that fully supports ISO 19115-2
 and FGDC metadata standards.
 * __mdTranslator__ - a public hosted web service for translation of adiwgJson to other metadata
 standards.  The mdTranslator is also available as a Ruby Gem 'adiwg-mdtranslator' or Ruby
 language code from the GitHub repository.
 * __mdEditor__ - an online metadata editor for preparation and maintenance of scientific
 metadata in the adiwgJson format.

MARKDOWN
%>
<%= Kramdown::Document.new(doc).to_html.html_safe %>
