<!--
# Alaska Data Integration working group - ADIwg
# REST endpoint controller for description of api

# History:
#   Stan Smith 2017-05-19 refactor for mdTranslator 2.0
#   Stan Smith 2015-04-15 edits to text and links
# 	Stan Smith 2014-10-09 initial
-->

<h2 id="mainHeader">
   <%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
   <span>API</span>
   <span class="version">Welcome</span>
</h2>

<%
doc = <<-MARKDOWN.gsub(/APP_ROOT/, ENV['RAILS_RELATIVE_URL_ROOT'] || '')

## Welcome to the mdTranslator

The ADIwg mdTranslator (or metadata translator) is an open-source software project for
translation between metadata standards.  The user prepares metadata in one of the
mdTranslator's supported 'reader' formats, POSTs the input to the mdTranslator, and
receives output in one of the mdTranslator's supported 'writer' formats.

## Links

 * Documentation of the mdTranslator's [API](APP_ROOT/api/apis)
 * List of supported mdTranslator [readers](APP_ROOT/api/readers)
 * List of supported mdTranslator [writers](APP_ROOT/api/writers)
 * Hosted [demo](APP_ROOT/api/v3/demo) of mdTranslator V3 and it's options
 * Other Links ...
   - [Home page](http://www.adiwg.org/mdTranslator/) for the mdTranslator project
   - Online [mdTool](http://mdTools.adiwg.org/) for viewing the latest mdJson schema
    documentation, validating mdJson files, submitting mdJson to the mdTranslator, and
    viewing mdCodes codelists
   - GitHub [repositories](https://github.com/adiwg) for the mdTranslator project and tools
   - [RubyGems](https://rubygems.org/search?utf8=%E2%9C%93&query=adiwg) for RubyGem
    libraries for adiwg-mdtranslator, adiwg-mdcodes, and adiwg-json_schemas
   - Online [mdBook](http://mdBook.adiwg.org/) for viewing documentation developers implementing and extending
    the mdTranslator.

## Background

The Alaska Data Integration Workgroup (ADIwg) evolved from, and supports the common interests
of the Alaska Climate Change Executive Roundtable (ACCER) and their member universities.  ACCER members
include numerous federal and state agencies sharing resources and experience in working climate research projects
across Alaska and the Arctic region.  ADIwg's mission is to cooperatively address the complex data issues of the
ACCER's organizations.

Development of the open-source ADIwg ISO Metadata Developer's Toolkit for creation of ISO and other metadata
formats was undertaken by the U.S. Geological Survey (USGS), Arctic Landscape Conservation Cooperative (ALCC),
Alaska Ocean Observing Systems (AOOS), Nuna Technologies, U.S. Fish & Wildlife Service (USFWS) and the
National Climate Change and Wildlife Science Centers (NCCWSC - USGS).  Together these organizations developed
the six extensible components of the ADIwg ISO Metadata Developer's Toolkit listed below:

 * __mdJson__ - a simple but thorough JSON format for scientific metadata that fully supports the ISO 19115-1 (via ISO 19115-3),
 ISO 19115-2/19139 (deprecated), ISO 19115-3, ISO 19110, FGDC, and other metadata standards.
 * __mdTranslator__ - a public hosted web service for translation of mdJson to other metadata
 standards.  The mdTranslator is also available as a Ruby Gem 'adiwg-mdtranslator' and as source
 code from our GitHub repository.
 * __mdCodes__ - provides a REST endpoint to deliver managed codelist for required ISO codes plus
 extensions added by ADIwg.
 * __mdTools__ - provides a online documentation of the mdJson schema, mdJson validation support, viewing of codelists,
 and an interface with the mdTranslator.
 * __mdEditor__ - is an online metadata editor for the preparation and maintenance of scientific
 metadata in the mdJson version 2 format (available summer 2017).
 * __mdBook__ - provides detailed online documentation for implementing and extending the mdTranslator in a
 GitBook format .

MARKDOWN
%>
<%= Kramdown::Document.new(doc).to_html.html_safe %>
