<!--
# Alaska Data Integration working group - ADIwg

# REST endpoint controller for description of api

# History:
# 	Stan Smith 2014-10-09 initial
-->

<h2 id="mainHeader">
	<%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
	<span>API</span>
	<span class="version">Writers</span>
</h2>

<%
   doc = <<-MARKDOWN

## List of available writers for mdTranslator

 [FGDC CSDGM](./writers/fgdc)

 : Federal Geographic Data Committee's Content Standard for Digital Geospatial Metadata - FGDC-STD-001-1998
 Includes Biological Data Profile

 [iso19115_2](./writers/iso19115_2)

 : International Standards Organization Geographic Information - Metadata 19115-2:2009

 [iso19110](./writers/iso19110)

 : International Standards Organization Geographic Information - Feature Catalogue 19110:2005

  [html](./writers/html)

 : HTML 'human-readable' and printable report of the metadata content

  [sbJson](./writers/sbJson)

 : U.S. Geological Survey's standard for documenting records ingested into ScienceBase Catalog

  [mdJson](./writers/mdJson)

 : Alaska Data Integration working group (ADIwg) format for editing metadata in ADIwg's mdEditor

MARKDOWN
%>
<%= Kramdown::Document.new(doc).to_html.html_safe %>
