<span id="forkongithub">
	<a href="https://github.com/adiwg/mdTranslator">Fork me on GitHub</a>
</span>

<h2 id="mainHeader">
	<%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
	<span>Demo</span>
	<span class="version">POST version</span>
</h2>
