/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav {
   height: 40px; /* set same as height & line-height below */
 }

 /* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
 .nav li {
   display: inline-block;
   height: 40px; /* should be the same as line-height */
   line-height: 40px; /* should be the same as height */
   list-style: none;
   padding: 0 20px; /* "0" sets top and bottom padding to none */
 }

 .nav li a {
   color: #0754cf;
 }

 .nav .active {
   color: #E07F0A;
 }

 .nav li a:hover {
   color: #0645ad;
   transition: color .3s;
 }

 .nav-link {
   text-decoration: none;
 }
