<h2>API Documentation</h2>
<p>Choose a version:</p>
<ul>
  <li>
    <%= link_to "version 3", "api/v3" %>
    <strong>
      Latest</strong>
  </li>
  <li>
    <%= link_to "version 2", "api/v2" %>
  </li>
</ul>
