<nav class="nav">
  <ul>
    <li><%= link_to "Home", '/', :class => current_class?('/') + " nav-link" %></li>
    <li><%= link_to "API", '/api', :class => current_class?('/api') + " nav-link" %></li>
    <li><%= link_to "Demo", '/demo', :class => current_class?('/demo') + " nav-link" %></li>
  </ul>
</nav>
